<h1>Catalog Items</h1>
<table>
    <%- @root_catalog_items.each do |root_item_id, root_item| -%>
      <tr>
        <td>
          <h1><%=root_item[:name]%></h1>
        </td>
      </tr>
      <%- root_item[:subitems].each do |key, value| -%>
      <tr>
        <%-value.each do |col, name|-%>
          <td><%=name %></td>
        <%-end-%> 
      </tr>
      <%-end-%>
    <%-end-%>
</table>

